In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/zippedData/rotten_tomatoes_movies.csv')
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [3]:
df_gross = pd.read_csv('data/zippedData/bom.movie_gross.csv')
df_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [4]:
merged = pd.merge(df, df_gross, left_on='movie_title', right_on='title')
df_rating_genres = merged[['movie_title','genres', 'tomatometer_rating', 'domestic_gross']].copy()

In [5]:
df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,Comedy,87.0,4000000.0
1,Going the Distance,Comedy,0.0,17800000.0
2,Going the Distance,"Comedy, Romance",54.0,17800000.0
3,The Silence,"Action & Adventure, Drama, Mystery & Suspense,...",50.0,100000.0
4,The Silence,"Art House & International, Drama, Mystery & Su...",88.0,100000.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"Art House & International, Comedy, Drama",92.0,3100000.0
2145,Zombeavers,"Action & Adventure, Comedy, Horror",69.0,14900.0
2146,Zookeeper,"Comedy, Romance",14.0,80400000.0
2147,Zoolander 2,Comedy,22.0,28800000.0
2148,Zootopia,"Action & Adventure, Animation, Comedy",98.0,341300000.0

In [6]:
df_rating_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2149 entries, 0 to 2148
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         2149 non-null   object
 1   genres              2149 non-null   object
 2   tomatometer_rating  2148 non-null   float64
 3   domestic_gross      2137 non-null   float64
dtypes: float64(2), object(2)
memory usage: 83.9+ KB

In [7]:
df_rating_genres.dropna(inplace=True)
df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,Comedy,87.0,4000000.0
1,Going the Distance,Comedy,0.0,17800000.0
2,Going the Distance,"Comedy, Romance",54.0,17800000.0
3,The Silence,"Action & Adventure, Drama, Mystery & Suspense,...",50.0,100000.0
4,The Silence,"Art House & International, Drama, Mystery & Su...",88.0,100000.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"Art House & International, Comedy, Drama",92.0,3100000.0
2145,Zombeavers,"Action & Adventure, Comedy, Horror",69.0,14900.0
2146,Zookeeper,"Comedy, Romance",14.0,80400000.0
2147,Zoolander 2,Comedy,22.0,28800000.0
2148,Zootopia,"Action & Adventure, Animation, Comedy",98.0,341300000.0

In [8]:
df_rating_genres.drop_duplicates(subset='movie_title', keep='last' , inplace=True)
df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,Comedy,87.0,4000000.0
2,Going the Distance,"Comedy, Romance",54.0,17800000.0
5,The Silence,"Horror, Mystery & Suspense",30.0,100000.0
7,Gone,Mystery & Suspense,12.0,11700000.0
8,Fireflies in the Garden,Drama,22.0,70600.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"Art House & International, Comedy, Drama",92.0,3100000.0
2145,Zombeavers,"Action & Adventure, Comedy, Horror",69.0,14900.0
2146,Zookeeper,"Comedy, Romance",14.0,80400000.0
2147,Zoolander 2,Comedy,22.0,28800000.0
2148,Zootopia,"Action & Adventure, Animation, Comedy",98.0,341300000.0

In [9]:
df_rating_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2063 entries, 0 to 2148
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         2063 non-null   object
 1   genres              2063 non-null   object
 2   tomatometer_rating  2063 non-null   float64
 3   domestic_gross      2063 non-null   float64
dtypes: float64(2), object(2)
memory usage: 80.6+ KB

In [10]:
df_sorted = df_rating_genres.sort_values('domestic_gross', ascending=False)

In [11]:
df_sorted

,movie_title,genres,tomatometer_rating,domestic_gross
343,Black Panther,"Action & Adventure, Drama, Science Fiction & F...",96.0,700100000.0
283,Avengers: Infinity War,"Action & Adventure, Science Fiction & Fantasy",85.0,678800000.0
923,Jurassic World,"Action & Adventure, Mystery & Suspense, Scienc...",70.0,652300000.0
1096,Marvel's The Avengers,"Action & Adventure, Science Fiction & Fantasy",92.0,623400000.0
1496,Star Wars: The Last Jedi,"Action & Adventure, Drama, Science Fiction & F...",90.0,620200000.0
...,...,...,...,...
267,Jackpot,Action & Adventure,59.0,800.0
238,Amityville: The Awakening,"Horror, Mystery & Suspense",30.0,700.0
863,Into the White,"Action & Adventure, Art House & International,...",45.0,700.0
120,2:22,"Drama, Mystery & Suspense",22.0,400.0
1507,Storage 24,"Horror, Science Fiction & Fantasy",42.0,100.0

In [19]:
#trying to strip out whitespace
df_rating_genres['genres'].str.strip(' ')
df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,[Comedy],87.0,4000000.0
2,Going the Distance,"[Comedy, Romance]",54.0,17800000.0
5,The Silence,"[Horror, Mystery & Suspense]",30.0,100000.0
7,Gone,[Mystery & Suspense],12.0,11700000.0
8,Fireflies in the Garden,[Drama],22.0,70600.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"[Art House & International, Comedy, Drama]",92.0,3100000.0
2145,Zombeavers,"[Action & Adventure, Comedy, Horror]",69.0,14900.0
2146,Zookeeper,"[Comedy, Romance]",14.0,80400000.0
2147,Zoolander 2,[Comedy],22.0,28800000.0
2148,Zootopia,"[Action & Adventure, Animation, Comedy]",98.0,341300000.0

In [13]:
df_rating_genres['genres'] = df_rating_genres['genres'].str.split(',', expand = False)

df_rating_genres

,movie_title,genres,tomatometer_rating,domestic_gross
0,Please Give,[Comedy],87.0,4000000.0
2,Going the Distance,"[Comedy, Romance]",54.0,17800000.0
5,The Silence,"[Horror, Mystery & Suspense]",30.0,100000.0
7,Gone,[Mystery & Suspense],12.0,11700000.0
8,Fireflies in the Garden,[Drama],22.0,70600.0
...,...,...,...,...
2144,Zindagi Na Milegi Dobara,"[Art House & International, Comedy, Drama]",92.0,3100000.0
2145,Zombeavers,"[Action & Adventure, Comedy, Horror]",69.0,14900.0
2146,Zookeeper,"[Comedy, Romance]",14.0,80400000.0
2147,Zoolander 2,[Comedy],22.0,28800000.0
2148,Zootopia,"[Action & Adventure, Animation, Comedy]",98.0,341300000.0

In [21]:
#gets a dict of movies and their genres
def get_genres(selected_genre, selected_genre_with_space):
    genres_dict = {}
    for genres, title, rating, gross in zip(df_rating_genres['genres'], df_rating_genres['movie_title'], df_rating_genres['tomatometer_rating'], df_rating_genres['domestic_gross']):
        if selected_genre or selected_genre_with_space in genres:
            genres_dict['genres'] = genres
            genres_dict['movie_title'] = title
            genres_dict['tomatometer_rating'] = rating
            genres_dict['domestic_gross'] = gross
    return genres_dict
get_genres('Comedy', ' Comedy')

{'genres': ['Action & Adventure', ' Animation', ' Comedy'],
 'movie_title': 'Zootopia',
 'tomatometer_rating': 98.0,
 'domestic_gross': 341300000.0}

In [ ]:
def get_genres(selected_genre, selected_genre_with_space):
    genres_dict = {}
    for genres, title in zip(df_rating_genres['genres'], df_rating_genres['movie_title']):
        if selected_genre or selected_genre_with_space in genres:
            genres_dict[title] = genres
    return genres_dict
get_genres('Comedy', ' Comedy')

In [15]:
#find all different relevent genres
#df_rating_genres['genres'].unique()
#df_rating_genres.value_counts('genres').head(20)

In [16]:
#action and adventure genre average gross
genres_action = df_rating_genres[df_rating_genres.apply(lambda x: x['genres'].split(',')[0] == 'Action & Adventure', axis=1)]
genres_action
#df_rating_genres.loc[df_rating_genres['genres'][0] == 'Action & Adventure']

AttributeError: 'list' object has no attribute 'split'

In [26]:
#def get_genres(selected_genre):
selected_genre = 'Comedy'
#for genres, title in zip(df_rating_genres['genres'], df_rating_genres['movie_title']):
    #if selected_genre in genres:
#df_filtered = df_rating_genres.apply(lambda x: x.drop() if selected_genre not in df_rating_genres['genres'] else None)
#df_filtered

#df_filtered = df.drop(df_rating_genres[selected_genre not in df_rating_genres['genres']].index)

#df_filtered = df_rating_genres.drop(df_rating_genres[selected_genre in df_rating_genres.genres].index)

#df_filtered = df_rating_genres.query("Comedy in genres")
#df_rating_genres[df_rating_genres['genres'].apply([x for x in df_rating_genres['genres']])]

#for genre in df_rating_genres['genre']:
    #print(genre)
    
    
df_filtered = df_rating_genres.loc[selected_genre in df_rating_genres['genres'],]


#df_filtered
#df_selected_genre = df_rating_genres.loc[df_rating_genres['genres']

KeyError: False

In [ ]:
genres_action['domestic_gross'].mean()

In [ ]:
x = genres_action['genres']

In [ ]:
#fig, ax = plt.subplots(figsize=(20,20))
#ax.scatter()

In [ ]:
#df_rating_genres = df[['genres', 'tomatometer_rating']].copy()
#df_rating_genres
#gross = df_gross['domestic_gross']
#df_rating_genres = df_rating_genres.join(gross)
#df_rating_genres